llama-index==0.10.19
llama-index-storage-docstore-mongodb==0.1.1
llama-index-storage-index-store-mongodb==0.1.1
llama-index-vector-stores-mongodb==0.1.3
motor==3.3.2
llama-index-graph-stores-neo4j==0.1.2
llama-index-embeddings-ollama==0.1.2
llama-index-embeddings-huggingface==0.1.4

llama-index-readers-file
llama-index-readers-confluence
llama-index-readers-smart-pdf-loader

cryptography==42.0.5

Flask==3.0.2
# Flask-SQLAlchemy==3.1.1
pymongo[srv]
mongoengine==0.27.0
Flask-PyMongo==2.3.0
celery[mongodb]==5.3.6
flower==2.0.1

flask-login==0.6.3
flask-jwt-extended==4.6.0
# install dependencies before mysql-client for python3 on ubuntu
# sudo apt-get install python3-dev default-libmysqlclient-dev build-essential pkg-config
# mysqlclient==2.2.4

pyOpenSSL==24.0.0
secrets==1.0.2